# Insert

In [2]:
import pandas as pd

var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})

var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [5]:
var["python_12"] = var["A"][:3]
var

   A  python_1  python  B  python_12
0  1        11       1  9        1.0
1  2        12       2  8        2.0
2  3        13       3  7        3.0
3  4        14       4  6        NaN
4  5        15       5  5        NaN

# Delete

In [21]:
var1 = pd.DataFrame({"C":[1,2,3,4,5],"D":[9,8,7,6,5],"F":[11,12,13,14,15]})

var1

   C  D   F
0  1  9  11
1  2  8  12
2  3  7  13
3  4  6  14
4  5  5  15

In [20]:
var2 = var1.pop("D")

var2

KeyError: 'D'

In [13]:
var1

0    9
1    8
2    7
3    6
4    5
Name: D, dtype: int64

ValueError: cannot insert python, already exists

In [22]:
var1

   C  D   F
0  1  9  11
1  2  8  12
2  3  7  13
3  4  6  14
4  5  5  15

In [23]:
del var1["C"]

var1

   D   F
0  9  11
1  8  12
2  7  13
3  6  14
4  5  15

In [24]:
var1

   D   F
0  9  11
1  8  12
2  7  13
3  6  14
4  5  15