# Join

In [2]:
import pandas as pd

var1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
var2 = pd.DataFrame({"C":[10,20,30,40],"D":[11,22,33,44]},index=["a","b","c","d"])

var1.join(var2)
#var2.join(var1)

   A   B   C   D
a  1  11  10  11
b  2  12  20  22
c  3  13  30  33
d  4  14  40  44

In [7]:

var3 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
var4 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=["a","b"])

#var3.join(var4)
#var4.join(var3)
#var4.join(var3,how = "right")
#var4.join(var3,how = "left")
var4.join(var3,how = "inner")
#var4.join(var3,how = "outer")

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [10]:

var5 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
var6 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=["a","b"])

var6.join(var5,how = "outer",lsuffix="_12",rsuffix="_12")
#var6.join(var5,how = "outer",lsuffix="_12",rsuffix="_12")

      C  B_12  A  B_12
a  10.0  11.0  1    11
b  20.0  22.0  2    12
c   NaN   NaN  3    13
d   NaN   NaN  4    14

# Append

In [14]:
var5 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var6 = pd.DataFrame({"C":[10,20],"D":[11,22]})

var5.append(var6,ignore_index=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17032\1631550292.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  var5.append(var6,ignore_index=True)

     A     B     C     D
0  1.0  11.0   NaN   NaN
1  2.0  12.0   NaN   NaN
2  3.0  13.0   NaN   NaN
3  4.0  14.0   NaN   NaN
4  NaN   NaN  10.0  11.0
5  NaN   NaN  20.0  22.0